@import "src/styles/base";

.btn {
    background-color: $secondary-color;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 16px;
    letter-spacing: 1.25px;
    border: none;
    outline: none;
    cursor: pointer;
}