@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import "reset";
@import "mixins";

.page {
    display: grid;
    grid-template-columns: 320px 1fr;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    padding: 0 15px;
    max-width: 1060px;
    margin: 0 auto;
}