@import "src/styles/base";

.teachers-item {
    background-color: #fff;
    color: $primary-color;
    padding: 24px;
    @include flex(space-between, center);

    @include tablet {
        background-color: red;
    }
}

.teacher-fio {
    flex: 0 0 172px;
    margin-right: 24px;
}

.teacher-contacts {
    flex: 0 0 243px;
    margin-right: 24px;
}

.teacher-work {
    flex: 0 0 521px;
}