.section {
    margin-bottom: 32px;

    &-title {
        font-size: 14px;
        letter-spacing: 1.25px;
        font-weight: bold;
        color: #010101;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
}
